✓ Different colors on hover ABOUT(FF6600), DOWNLOAD(0000CD), CONTACT(42DCA3)
✓ Whale not making reading hard
✓ To the beginning only if not in the beginning
✓ Add another page with something so my skills page is lucid. 







